.bg{
    background-image: url('cover10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* z-index: -1; */
    /* filter:blur(1px); */
    
}
.container1{
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 30px;
  
  
}
.title h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: bold;
}
.title{
  color: white;
  filter: blur(none);
}
.title .btn{
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.btn1{
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid white;
  margin-left: 20px;
  transition: ease 0.5s all;
}
.btn1:hover{
  background-color: #c985377f ;
  padding: 8px;
  transition: ease 0.5s all;
}
.btn2{
   background-color:#c985377f ;
   width: 300px;
   height: 200px;
   border: 1px solid  #e0d5c6;
   border-radius: 10px;
   margin-left: 20px;
   text-align: center;
   color:white;
   transition: ease 0.5s all;
}
.btn2:hover{
  width: 400px;
  transition: ease 0.5s all;
}
.container{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
img{
  width: 50px;
}
 @media screen and (max-width:700px){
  .container{
    flex-direction: column;
  }
   
} 
